<%- include('partials/header', { title: "Logout" }) %>
<h1>Logout Page</h1>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <a href="/">Cancel</a>

<%- include('partials/footer') %>
